.body {
    /*height: 100%;*/
    /*width: 100%;*/
}

.main {
    height: 100%;
    width: 100%;
    overflow:auto;
    position:absolute;
    background-image: url(https://uploadbeta.com/api/pictures/random/?key=BingEverydayWallpaperPicture);
}
